<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="~/Student/Index" class="simple-text">
                
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="~/Student/Index">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="~/Student/Index">
                    <i class="pe-7s-user"></i>
                    <p>Students</p>
                </a>
            </li>
            <li>
                <a href="~/Lecturer/Index">
                    <i class="pe-7s-note2"></i>
                    <p>Lecturers</p>
                </a>
            </li>
            <li>
                <a href="~/Level/Index">
                    <i class="pe-7s-news-paper"></i>
                    <p>Levels</p>
                </a>
            </li>
            <li>
                <a href="~/Program/Index">
                    <i class="pe-7s-science"></i>
                    <p>Programs</p>
                </a>
            </li>
            <li>
                <a href="/College/Index">
                    <i class="pe-7s-map-marker"></i>
                    <p>Colleges</p>
                </a>
            </li>
            <li>
                <a href="/Course/Index">
                    <i class="pe-7s-bell"></i>
                    <p>Courses</p>
                </a>
            </li>
            <li>
                <a href="/Report/Generatereport">
                    <i class="pe-7s-bell"></i>
                    <p>Report</p>
                </a>
            </li>
        </ul>
    </div>
</div>

